<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'project02/style.css'%}" />
  </head>
  <body>
    <p>this is it</p>
    <p>this is it</p>
    <p>this is it</p>
    <p>this is it</p>
    <p>this is never that</p>
    <p>this is never that</p>
    <p>this is never that</p>
    <p>this is never that</p>

    <!--<div class="firstHALF">
      <h1>hello world!</h1>
      <h1 id="user">user id</h1>
      <h2>this is header2 #1</h2>
      <h2>this is header2 #2</h2>

      <p>{{ user }}</p>
    </div>

    <div class="second-half">
      <p>list of things....</p>
    </div>-->

    <script src="{% static 'project02/test.js'%}"></script>
  </body>
</html>
